<app-header></app-header>
<div class="p-5 mt-5 col-12 row">
  <div class="col-8">
    <h1 class="home-title">Ecouter et lire sans limite</h1>
    <p class="home-p">Build skills with courses, certificates, and degrees online from world-class universities and companies.</p>
    <a routerLink="/register" class="btn btn-primary btn-lg">Rejoignez nous maintenant</a>
  </div>
  <div class="col-4">
    <img src="assets/hero-b.png" class="img-fluid" >
  </div>
    
</div>
<div class="conatiner p-3">
<div class="row col-12">
    <div class="col-12 mb-2 row p-2">
       <div class="col-4">
              <div class="p-4  text-center">
                <a class="btn btn-lg pr-4 pl-4" routerLink="/livres/audio"> <i class="fas fa-headphones"></i>  Ecouter</a> 
              </div>
        </div>
       <div class="col-4">
          <div class=" p-4  text-center">
            <a class="btn btn-lg pr-4 pl-4" routerLink="/livres/pdf"> <i class="fas fa-book-reader"></i> Lire</a>
          </div>
      </div> 
      
       <div class="col-4">
        <div class="p-4  text-center">
         
          <a class="btn btn-lg pr-4 pl-4" routerLink="/client/post/add" > <i class="fas fa-share-square"></i> Publier</a>
    </div>
         
         </div>

    </div>
    

</div>
</div>
<app-footer></app-footer>
