<div class="d-flex" id="wrapper" >

    <!-- Sidebar -->
    <div class="bg-primary text-white  border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
      <div class="sidebar-heading text-center">Gestions des livres </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/" >Accueil</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/admin/books/pdf" >Livres PDF</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/admin/books/audio" >Livres audio</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/admin/users">Utilisateurs</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/admin/posts">Publications</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white activated" routerLink="/admin/profile">Profile</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <button class="btn btn-default" (click)="clickEvent()"><i class="fas fa-exchange-alt"></i></button>
              <!-- Toggle button -->
              <button
                class="navbar-toggler"
                type="button"
                (click)="rightAligned.toggle()"
                aria-controls="navbarRightAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
          
              <!-- Collapsible wrapper -->
              <div
                class="collapse navbar-collapse"
                id="navbarRightAlignExample"
                mdbCollapse
                #rightAligned="mdbCollapse"
              >
                <!-- Left links -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                  </li>
                  
                </ul>
                <!-- Left links -->
              </div>
              <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
          </nav>
     
  
          <div class="container-fluid">
             
            <div class="card text-center m-3">
                <div class="card-header">My informations</div>
                <div class="card-body text-left">
                  <div class="text-center">
                    <img *ngIf="connectedUser.image != 'null' " src="http://127.0.0.1:8000/uploads/avatars/{{ connectedUser.image }}" class="mb-2 img-thumbnail" width='200'>
                    <h1 *ngIf="connectedUser.image == 'null'"><i class="fas fa-user-alt"></i></h1>
                  </div>
                
                   <h3 class="text-success"> <i class="fas fa-user-alt"></i> {{ connectedUser.nom }}  {{ connectedUser.prenom }} ( {{ connectedUser.username }} )   </h3>
                   <h3 class="text-success"> <i class="fas fa-at"></i>    {{ connectedUser.email }} </h3>
                   <h3 class="text-success"> <i class="fas fa-archway"></i> {{ connectedUser.adresse }}  </h3>
               
    
                  <button class="btn btn-primary me-2" (click)="open(content)" ><i class="fas fa-pen-square"></i> Edit info </button>
                  <button class="btn btn-success" (click)="open(password)" ><i class="fas fa-pen-square"></i> Modifier Mot de passe </button>
                </div>
             
              </div>
    
    
           
            
            </div>
        </div>
        <!-- /#page-content-wrapper -->
      
      </div>
      <!-- /#wrapper -->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form #updateForm="ngForm" (ngSubmit)="updateUser(updateForm)" enctype="multipart/form-data">
                <mdb-form-control class="mb-3">
                    <input mdbInput type="text" name="username" ngModel [ngModel]="connectedUser.username"  class="form-control" placeholder=".." />
                    
                  </mdb-form-control>
        
                  <mdb-form-control class="mb-3">
                    <input mdbInput type="text" name="email" ngModel [ngModel]="connectedUser.email"  class="form-control" placeholder=".." />
                 
                  </mdb-form-control>
                  <mdb-form-control class="mb-3">
                    <input mdbInput type="adresse" name="nom" ngModel [ngModel]="connectedUser.nom"  class="form-control" placeholder="Firstname ..." />
              
                  </mdb-form-control>
                  <mdb-form-control class="mb-3">
                    <input mdbInput type="adresse" name="prenom" ngModel [ngModel]="connectedUser.prenom"  class="form-control" placeholder="Lastname ..." />
               
                  </mdb-form-control>
        
                  <mdb-form-control class="mb-3">
                    <input mdbInput type="text" name="adresse" ngModel [ngModel]="connectedUser.adresse"  class="form-control" placeholder="Adress ..." />
                
                  </mdb-form-control>
               
                    <div class="mb-2">
                      <label class="form-label" for="customFile">Image User</label>
                      <input (change)="onSelectFile($event)" type="file" class="form-control"    />
              </div>
                   
                <button type="submit" class="btn btn-info me-2 text-white"> Save</button>
                <button type="reset" class="btn btn-danger">Reset </button>
           
                </form>
        </div>
        
      </ng-template>
      
      
      <ng-template #password let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Modifier Mot de passe</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form #updatepwForm="ngForm" (ngSubmit)="updatePassword(updatepwForm)" enctype="multipart/form-data">
                <mdb-form-control class="mb-3">
                    <input mdbInput type="password" placeholder="Mot de passe ..." name="password" ngModel #password="ngModel"  class="form-control"  />
                    
                  </mdb-form-control>
        
                 
                 
               
                
                   
                <button type="submit" class="btn btn-info me-2 text-white"> Save</button>
                <button type="reset" class="btn btn-danger">Reset </button>
           
                </form>
        </div>
        
      </ng-template>
      
      
    
      
    
    